<span class="arrow left-arrow" (click)="arrowClick('reverse')" role="button"></span>
<div class="experience-container">
  <div class="experience-block co hidden" [class.active]="selectedExperience === 'CapitalOne'" (click)="selectExperience('CapitalOne')">CapitalOne, Plano, TX</div>
  <div class="experience-block cs" [class.active]="selectedExperience === 'CyberSoft'" (click)="selectExperience('CyberSoft')">Cybersoft, Houston, TX</div>
  <div class="experience-block nm" [class.active]="selectedExperience === 'NeimanMarcus'" (click)="selectExperience('NeimanMarcus')">Neiman Marcus, Irving, TX</div>
  <div class="experience-block samsung" [class.active]="selectedExperience === 'Samsung'" (click)="selectExperience('Samsung')">Samsung Electronics America, Plano, TX</div>
  <div class="experience-block tf" [class.active]="selectedExperience === 'Fisher'" (click)="selectExperience('Fisher')">Thermo Fisher Scientific - US, Moon, PA</div>
  <div class="experience-block sb" [class.active]="selectedExperience === 'Saibersys'" (click)="selectExperience('Saibersys')">Saibersys Inc, Carrollton, TX</div>
  <div class="experience-block uh" [class.active]="selectedExperience === 'UH'" (click)="selectExperience('UH')">University of Houston, Houston, TX</div>
  <div class="experience-block sspl" [class.active]="selectedExperience === 'SSPL'" (click)="selectExperience('SSPL')">Saravana Stocks Pvt Ltd, Chennai, India</div>
</div>
<span class="arrow right-arrow" (click)="arrowClick('forward')" role="button"></span>
