@import "../../styles.scss";

@media screen {
  :host {
    .container {
      padding: 2px 50px 0px 100px;

      .experience-description {
        display: flex;
        flex-direction: row;
        min-width: 350px;
        margin-right: 30px;
      }
    }
  }
}

@media screen and (max-width: $screen-lg - 1) {
  :host {
    .container {
      .experience-description {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  :host {
    .container {
      padding: 20px 60px;
    }
  }
}
