@import '../styles.scss';

@media screen {
  .main-content {
    width: 95vw;
    margin-left: 60px;
    overflow: auto;
  }
  .page-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: $screen-sm) {
  .main-content {
    width: 100%;
    margin-left: 0px;
  }
}

@media screen and (min-width: $screen-sm + 1) and (max-width: $screen-md) {
  .main-content {
    width: 92.5vw;
  }
}

