/* You can add global styles to this file, and also import other style files */
$screen-lg-big: 1200px;
$screen-lg: 1024px;
$screen-md-big: 980px;
$screen-md: 768px;
$screen-sm: 460px;


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  color: #162847;
}

body {
  background-color: #e4e4e4;
  overflow-y: scroll;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0;
}

p {
  font-size: 18px;
  padding: 10px 5px;
  font-weight: lighter;
  letter-spacing: -0.5px;
}

.container {
  width: 100%;
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  .left {
    width: 49%;
    order: 1;
  }

  .right {
    width: 49%;
    order: 2;
  }
}

button {
  &.cancel {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #f8f8f8d1;
  }

  &.text {
    border: none;
    background: transparent;
    font-size: 14px;
    color: #0d5d8f;

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    cursor: pointer;
  }
}