
<app-home-background>
  <div class="container row">
    <div class="introduction-banner">
      <h1>Web development done right!!!</h1>
      <p>I am Hari. I love programming and solving problems. Language angostic but 
      lean towards JavaScript as my favourite programming language.</p>
      <p>My professional highlights include working for Financial, ECommerce, Education, and Elecrtonics & Manufacturing organizations.</p>
      <p>My interests include:</p>
      <ul>
        <li>Sports: Soccer, Basketball</li>
        <li>Watching stand up comedy and documentaries on physics/ astronomy</li>
        <li>Building miniature models.</li>
      </ul>
      <h2>Professional Expertise</h2>
      <app-expertise-chart></app-expertise-chart>
    </div>
  </div>
</app-home-background>