@import '../../styles.scss';

@media screen {
  :host {
    .container {
      padding: 50px 50px 0px 100px;;
      .introduction-banner {
        justify-content: center;
        width: 100%;

        ul {
          padding-left: 16px;
          li {
            list-style-type: none;
            position: relative;
            padding-left: 15px;
            line-height: 20px;
            font-size: 14px;
            &:before {
              content: "\25BA \0020";
              font-size: 8px;
              position: absolute;
              left: -10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  :host {
    .container {
      padding: 20px 60px;
    }
  }
}